# Qt-specific ignores
build/
debug/
release/
.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.qm
*.prl

# Qt Creator
*.autosave

# QtCreator CMake
CMakeLists.txt.user*

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Compiled Object files
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# VS Code files
.vscode/
*.code-workspace

# Visual Studio files
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 