# Qt-specific ignores
build/
debug/
release/
.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.qm
*.prl

# Qt Creator
*.autosave

# QtCreator CMake
CMakeLists.txt.user*

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Compiled Object files
*.obj

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app 